@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.nav-link {
  margin-right: 15px;
  color: #2f363f;
  letter-spacing: 0.5px;
  transition: 0.5s;
}

.nav-item {
  border-radius: 15px;
  padding: 3px;
}
.nav-item:hover {
  background-color: #f6fbe3;
  padding: 4px;
}
.nav-item:active {
  background-color: #f6fbe3;
}
.navbar-brand {
  margin-right: 20px;
  color: #4c4b4b;
  letter-spacing: 0.5px;
}
h2 {
  color: #4c4b4b;
  letter-spacing: 0.5px;
  font-family: raleway;
}

.navbar-brand:hover {
  transform: scale(1);
}

ul.nav-link:hover {
  transform: scale(2);
}
